<h1><%=@location.name%></h1>
<h2><%=@location.pretty_address%></h2>
<p><%=@location.blurb%></p>
<a alt="filled out email" href="mailto:<%=@location.email_address%>?subject=Concerned&body=<%=@location.email_suggestion%>">Email them with your concerns</a> at <a href="mailto:<%=@location.email_address%>" alt="contact email address"><%=@location.email_address%></a>
<p>Sample text is as follows:</p>
<p>"<%=@location.email_suggestion%>"</p>
